<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2">
    
            <form method ="Post" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for ="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catche title" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <br/>
                <div class="mb-3">
                    <label for ="description" class="form-label">description</label>
                    <input name="listing[description]" placeholder="enter description" type="text"  class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid description</div>
                </div>

                <br/>
                <div class="mb-3">
                    <label for ="image" class="form-label">image</label>
                    <input name="listing[image][url]" placeholder="enter url" type="text"  class="form-control"> 
                    <div class="invalid-feedback">Please enter a valid url</div>
                </div>
                <br/>
                <div class="row">
                    <div    class="mb-3 col-md-4">
                        <label for ="price" class="form-label">price</label>
                        <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                        
                    </div>
                
                    <br/>
                    <div   class="mb-3 col-md-8" >
                        <label for ="country" class="form-label">country</label>            
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required
                        >
                        <div class="invalid-feedback">Country should be valid</div>
                    
                    </div>
                </div>

                <br/>
                  
                <div    class="mb-3">
                    <label for ="location" class="form-label">location</label>
                    <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid location</div>
                </div>
                <br/>
                <button type="submit" class="btn btn-dark add-btn">Create Listing</button>
            </br>
            </br>
            </form>
        </div>
    </div>
    
</body>
